<html>
<head>   
<title>Cocina Easy</title>
</head>
<body bgcolor="#E0FFFF">  
    <header>
<center><img src="Imagenes/banner.jpg" height="130"></center>
    </header>
<center>
<table cellpadding="3" border="0">
<td> <a href="index.html"><img src="HTML/Imagenes/inicio.jpg"></a> </td>
<td> <a href="Receta.html"><img src="Imagenes/Receta.jpg"></a> </td>
<td> <a href="http://universovivardys.blogspot.com"><img src="Imagenes/categoria.jpg"></a></td>
<td> <a href="sobre.html"><img src="Imagenes/Sobre.jpg"></a></td>

</table>
</center> 
    
<table cellpadding="5" border="0"  align="center">

<font Color="Blue" Size="5" face="Monotype corsiva">
<p align="center">
<font size="10">Cocina Easy</font>
<br>
    Cocinar es un juego para los niños y un deleite para los adultos</p></font>
    
    
    <tr>
    <td>

<pre><font face="arial">
<h2>¿Que es la Culinaria?</h2>
La culinaria o arte culinario es una forma creativa
de preparar los alimentos y depende mucho de la cultura,
en términos de conocimientosrespecto a los alimentos, su 
forma de prepararlos, así como de los rituales sociales 
establecidos alrededor de la comida. No hay que confundirlo
con gastronomía,que englobaría a esta en un campo más 
general dedicado a todo lo relacionado con la cocina.
</font></pre>
    </td>

        <td>
        <center><img src="imagenes/Arroz.jpg" width="400" height="250"></center>
        </td>
</tr>
    </table>
    
<br>
    <br>
    
    
<table cellpadding="5" style="border:1px outset blue;"  align="center" width="850">
    <td>
        <center><h2>La preparación de las comidas</h2></center> 
                
    El tipo de cocina depende, del cocinero, de los ingredientes y de las costumbres u obligaciones culturales, médicas y religiosas para unos alimentos en concreto.
Decimos, entonces, que algunos alimentos (casi todos) deben pasar por un proceso llamado cocción, que es la aplicación de calor u otras técnicas para conservar y modificar su sabor, color y textura; de esta manera serán estos aptos para el consumo humano.Para que un alimento sea parte íntegra del modo de alimentación tendrá que estar fácilmente disponible, en cantidad adaptada a las necesidades humanas y, a ser posible, a buen precio.
        <br>
        
<center><img src="imagenes/lavadoalimentos.jpg" width="100%"></center>
        
    </td>
</table>
   
    


</body>
    <br>
    <br>
   
    <footer> <center><strong>Todos Los Derechos De Esta Pagina Estan Reservado Por el Autor</strong></center></footer>
</html>
